{% extends 'base.html' %} {% block content %}

<div class="ui segment">
	{{ include('templateIncludes/boxes.html', {
	boxes: {
	main: {
	link: '#',
	name:
	'Настройки API',
	icon: 'fad fa-cog'
	},
	lang: {
	link: '#',
	name: 'Языковые настройки',
	icon: 'fad fa-flag'
	}
	}
	})
	}}
</div>

<div class="ui bottom attached tab segment active" data-tab="main">
	<h4 class="ui dividing header">Настройки API</h4>
	<div class="ui four column grid form">
		{% autoescape 'html' %}

		{{ include('templateIncludes/segRow.html', {
		id: 'api_url',
		name: 'API-URL',
		descr: 'Ссылка на API в формате http://сайт.local/api/v1 или http://api.сайт.local/v1',
		type: 'input',
		variable: {}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'api_key',
		name: 'API-ключ',
		descr: 'Введите ключ DLE-API, чтобы скрипт мог корректно обрабатывать запросы.',
		type: 'input',
		variable: {}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'list_count',
		name: 'Количество объектов',
		descr: 'Введите количество объектов, которые будут отображены в списках, таблицах и т.д.. Это глобальное значение для всех модулей автора. При пустом значении будут браться значения из настройки движка "Количество отоброжаемых новостей на страницу".',
		type: 'number',
		variable: {}
		})
		}}

		{% endautoescape %}
	</div>
</div>

<div class="ui bottom attached tab segment " data-tab="lang">
	<h4 class="ui dividing header">Языковые настройки</h4>
	<div class="ui four column grid form">
		{% autoescape 'html' %}

		{{ include('templateIncludes/segRow.html', {
		id: 'multilang',
		name: 'Включить Мультиязычность?',
		descr: 'При включенном параметре, у сайта появится возможностъ переключать языки.<br><a href="#" role="button"
			class="ui primary button">Список языков</a>',
		type: 'checkbox',
		variable: {}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'download_icons',
		name: 'Загружать иконки флажков каждого языка?',
		descr: 'Для удобства будут испольтоваться иконки сервиса <a href="https://www.countryflags.io/"
			target="_blank">CountryFlags</a>, если не будет указана ссылка при добавлении / редактировании
		языка.<br>Если ссылка указана со стороннего сервиса, то сайт попытается её скачать.',
		type: 'checkbox',
		variable: {}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'flags_path',
		name: 'Путь загрузки иконок / флажков',
		descr: 'По умолчанию: uploads/maharder/flags/. Путь указываем от корня сайта без слеша в начале, но со слешем в
		конце.',
		type: 'input',
		variable: {}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'unknown',
		name: 'Неизвестный флаг',
		descr: 'Если на сервисе CountryFlags не найдётся нужного флага, то укажите ссылку на заглужку. По умолчанию:
		/uploads/maharder/flags/shiny/24/unknown.png.',
		type: 'input',
		variable: {}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'icon_size',
		name: 'Размер иконок',
		descr: 'По умолчанию: 24',
		type: 'select',
		variable: {},
		values: {
		16: '16',
		24: '24',
		32: '32',
		48: '48',
		64: '64'
		}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'icon_style',
		name: 'Тип иконок',
		descr: 'По умолчанию: shiny',
		type: 'select',
		variable: {},
		values: {
		flat: 'Плоские',
		shiny: 'Сияющие',
		}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'default_language',
		name: 'Стандартный язык',
		descr: 'Язык по умолчанию, пока пользователь не переключит его на свой',
		type: 'select',
		variable: {},
		values: {}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'fallback_language',
		name: 'Запасной язык',
		descr: 'Если у основного языка не будет перевода или произойдёт какая-либо ошибка, то на какой язык
		переключить?',
		type: 'select',
		variable: {},
		values: {}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'path',
		name: 'Путь до языковых файлов',
		descr: 'Стандартный путь до языковых файлов /locales.',
		type: 'input',
		variable: {},
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'cookieField',
		name: 'Переменная для COOKIE',
		descr: 'Используемый язык будет браться из куки браузера.',
		type: 'input',
		variable: {},
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'translator',
		name: 'Включить машиный перевод?',
		descr: 'При включенном параметре, позволяет переводить из исходного языка в нужный.',
		type: 'checkbox',
		variable: {},
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'translateEngine',
		name: 'Движок перевода',
		descr: 'Какой сервис использовать для перевода текста?<br><br><b
			style="color: #cc0000">!ВНИМАНИЕ!</b><br>Следующие сервисы имеют следующие ограничения для бесплатного
		использование и распространяются через сервис RapidApi!<br><br>
		<ul>
			<li><b>Microsoft Translate</b> - 500000 символов в месяц. Подробнее <a
					href="https://rapidapi.com/microsoft-azure-org-microsoft-cognitive-services/api/microsoft-translator-text/pricing"
					target="_blank" alt="Таблица цен">здесь</a>.</li>
			<li><b>Language Translation</b> - 10 запросов в день, 15000 символов в день. Подробнее <a
					href="https://rapidapi.com/cloud-actions-cloud-actions-default/api/language-translation/pricing"
					target="_blank" alt="Таблица цен">здесь</a>.</li>
			<li><b>Deep Translate</b> - 100 запросов в месяц, 100000 символов в месяц. Подробнее <a
					href="https://rapidapi.com/gatzuma/api/deep-translate1/pricing" target="_blank"
					alt="Таблица цен">здесь</a>.</li>
		</ul>',
		type: 'select',
		variable: {},
		values: {
		rapidapi_microsoft: 'Microsoft Translate (RapidApi)',
		rapidapi_language_translation: 'Language Translations (RapidApi)',
		rapidapi_deep_translate: 'Deep Translate (RapidApi)'
		}
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'transAPI',
		name: 'API ключ движка перевода',
		descr: 'API ключ для перевода через сервис. <br>
		<ul class="ui list-circle">
			<li class="item"><b>RapidApi</b>: Сборник различных сервисов для различных API. Приобретение ключа находятся
				на <a href="https://rapidapi.com/developer/new" target="_blank">сайте сервиса</a>.</li>
		</ul> <br>Если найдёте другие популярные и бесплатные сервисы - писать по контактам разработчику.',
		type: 'input',
		variable: {},
		})
		}}

		{{ include('templateIncludes/segRow.html', {
		id: 'transWatcher',
		name: 'Автоматизировать отслеживание?',
		descr: 'На сервере будет создаваться файл с отчётом сколько какой сервис с каким API (ключом) отправил символов
		и запросов. При достижении лимита скрипт будет переключаться на следующий сервис и на следующий ключ API. В
		противном случае - при превышении лимита администратору нужно будет переключить вручную сервис',
		type: 'checkbox',
		variable: {},
		})
		}}
		{% endautoescape %}
	</div>
</div>
<div class="ui segment">
	<div class="ui button" tabindex="0">Сохранить</div>
</div>
{% endblock %}


{% block scripts %}

{% autoescape 'js' %}
<script>
	var avApiServices = JSON.parse('{}'), apiID = '#transAPI', parentApiKey = $(document).find(apiID).first().parent(), apiKeyItems = 0, apiKeyItemsCount = 0;
	function createItem(id, service = '', key = '') {
		let html = '<div class="item apiItem" data-id="' + id + '"><div class="content"><div class="description"><div class="ui right labeled input"><input class="apiKey" type="text" placeholder="API ключ" name="apiKey-' + id + '" id="apiKey-' + id + '" value="' + key + '"><div class="ui dropdown aksDd label"><input data-name="apiKeyService" type="hidden" name="apiKey-' + id + '-service" id="apiKey-' + id + '-service">';
		if (service != '') html += '<div class="text">' + avApiServices[service] + '</div>';
		else html += '<div class="text">Выбрать сервис</div>';
		html += '<i class="dropdown icon"></i><div class="menu">';
		$.each(avApiServices, function (key, value) {
			html += '<div class="item" data-value="' + key + '">' + value + '</div>';
		});
		html += '</div></div></div><div class="ui icon buttons"><div role="button" class="ui green button" data-action="addNewKey" title="Добавить новый ключ"><i class="plus icon"></i></div><div role="button" class="ui red button" data-action="delThisKey" data-id="' + id + '" title="Удалить ключ"><i class="minus icon"></i></div></div></div></div></div>';

		return html;
	}

	function createKeyInputs() {
		let html = '<div class="ui items" name="apiKeys">';
		let keysValue = {}, countServices = 0;
		try {
			keysValue = JSON.parse(atob($(apiID).val()));
			countServices = keysValue.length;
		} catch (e) {
			console.log('No API keys insert');
			$('body').toast({
				class: 'error',
				title: `Ошибка`,
				message: `Нет действующих ключей!`,
				showProgress: 'bottom'
			});
;
		}

		if (countServices > 0) {
			for (let i = 0; i < countServices; i++) {
				apiKeyItems++;
				apiKeyItemsCount++;
				html += createItem(apiKeyItems, keysValue[i].service, keysValue[i].key);
			}
		} else {
			apiKeyItems++;
			apiKeyItemsCount++;
			html += createItem(apiKeyItems);
		}

		html += '</div>';

		return html;
	}

	function modifyApiKeyVal() {
		let services = [];

		$('[name="apiKeys"] .apiItem').each(function () {
			let thisID = $(this).data('id');
			let service = {
				key: $(document).find('#apiKey-' + thisID).first().val(),
				service: $(document).find('#apiKey-' + thisID + '-service').first().val(),
			}
			services.push(service);
		});

		$(document).find('.aksDd').each(function () {
			$(this).dropdown();
		});
		$(apiID).val(btoa(JSON.stringify(services)));
	}

	$(() => {
		let inputs = createKeyInputs();
		$(parentApiKey).append(inputs);
		$('.aksDd').dropdown();
		$(apiID).hide()

		$(document).on('change', '.apiKey, [data-name="apiKeyService"]', function () {
			modifyApiKeyVal();
		});

		$(document).on('input', '.apiKey', function () {
			modifyApiKeyVal();
		});

		$(document).on('click', '[data-action="addNewKey"]', function () {
			apiKeyItems++;
			apiKeyItemsCount++;
			let item = createItem(apiKeyItems);
			$('[name="apiKeys"]').append(item);
			modifyApiKeyVal();
		});

		$(document).on('click', '[data-action="delThisKey"]', function () {

			if (apiKeyItemsCount > 1) {
				apiKeyItemsCount--;

				$(document).find(this).first().parents('.apiItem').remove();

				modifyApiKeyVal();
			} else $('body').toast({
				class: 'error',
				title: `Ошибка`,
				message: `Нельзя удалять все поля! Хотя-бы одно да должно остаться!`,
				showProgress: 'bottom'
			});

		});

		$(document).on('click', '.save', function () {
			modifyApiKeyVal();
			$(document).find('[name="apiKeys"]').remove();
			$(apiID).show();
			$.ajax({
				url: 'engine/ajax/controller.php?mod=maharder',
				data: {
					user_hash: '{$dle_login_hash}',
					module: '{$codename}',
					file: 'save',
					method: 'settings',
					data: $('.form').serializeArray()
				},
				type: 'POST',
				success: function (data) {
					console.log(data)
					hideLoading('');
					$('body').toast({
						class: 'success',
						title: `Всё отлично!`,
						message: `Данные были сохранены!`,
						showProgress: 'bottom'
					});
					$(parentApiKey).append(createKeyInputs());
					$(apiID).hide();

				}
			});
		});
	});
</script>
{% endautoescape %}
{% endblock %}
