<div class="two column row" {% if type == 'hidden_input' %} style="display:none;"{% endif %}>
	<div class="eight wide column rowDescr">
		<label for="{{id}}">{{name}}</label><br>
		<small>{{descr|raw}}</small>
	</div>
	<div class="eight wide column">

		{% if type == 'input' or type == 'text' %}
			{{ include('templateIncludes/addInput.html', {
					type: 'text',
					name: id,
					label: name,
					value: variable[id],
					tags: false
				})
			}}
		{% elseif type == 'tag_input' %}
			{{ include('templateIncludes/addInput.html', {
					type: 'text',
					name: id,
					label: name,
					value: variable[id],
					tags: true
				})
			}}
		{% elseif type == 'number_input' or type == 'number' %}
			{{ include('templateIncludes/addInput.html', {
					type: 'number',
					name: id,
					label: name,
					value: variable[id]
				})
			}}
		{% elseif type == 'hidden_input'%}
			{{ include('templateIncludes/addInput.html', {
					type: 'hidden',
					name: id,
					label: name,
					value: variable[id]
				})
			}}
		{% elseif type == 'input_file'%}
			{{ include('templateIncludes/addInput.html', {
					type: 'file',
					name: id,
					label: name,
					value: variable[id],
					extra: extra
				})
			}}
		{% elseif type == 'select'%}
			{{ include('templateIncludes/addSelect.html', {
					name: id,
					label: name,
					values: values,
					multiple: multiple,
					selected: variable[id]
				})
			}}
		{% elseif type == 'textarea'%}
			{{ include('templateIncludes/addTextarea.html', {
					name: id,
					label: name,
					value: variable[id]|raw,
					editor: false
				})
			}}
		{% elseif type == 'editor'%}
			{{ include('templateIncludes/addTextarea.html', {
					name: id,
					label: name,
					value: variable[id]|raw,
					editor:	true,
					url: assets_url
				})
			}}
		{% elseif type == 'checkbox'%}
			{{ include('templateIncludes/addCheckbox.html', {
					name: id,
					selected: variable[id]
				})
			}}
		{% elseif type == 'checkbox_label'%}
			{{ include('templateIncludes/addCheckbox.html', {
					name: id,
					label: name,
					selected: variable[id]
				})
			}}
		{% else %}
			{{ html|raw }}
		{%endif%}
	</div>
</div>
