{% extends 'base.html' %}
{% from "_macros/input.twig" import input %}
{% from "_macros/textarea.twig" import editor, text %}
{% from "_macros/pagination.twig" import pagination %}
{% from "_macros/search.twig" import search %}

{% block content %}

<form class="ui form attached segment" data-type="form">
	<div class="ui bottom attached tab active" data-tab="main">
		<h4 class="ui dividing header">{{title|trans}}</h4>

		<div class="ui four column grid">
			{% autoescape 'html' %}
			<table class="ui very basic stackable selectable celled striped table">
				<thead>
					<tr>
						<th class="collapsing">
							<div class="ui checkbox" id="countries">
								<input type="checkbox" tabindex="0" class="hidden">
							</div>
						</th>
						<th class="collapsing">ID</th>
						<th class="">{%trans%}Оригинальное название{%endtrans%}</th>
						<th class="">{%trans%}Аббревиатура{%endtrans%}</th>
						<th class="">{%trans%}Перевод{%endtrans%}</th>
						<th class="right aligned collapsing">{%trans%}Действие{%endtrans%}</th>
					</tr>
				</thead>
				<tbody data-id="categories">
				{% for c in countries %}
					<tr id="c-{{c.id}}" data-id="{{c.id}}">
						<td>
							<div class="ui checkbox" data-checkbox="countries">
								<input type="checkbox" name="country[]" value="{{c.id}}" tabindex="0" class="hidden">
							</div>
							<input type="hidden" name="this_id" value="{{c.id}}" tabindex="0" class="hidden">
						</td>
						<td>{{c.id}}</td>
						<td data-name="ori">
							<input type="text" name="original" value="{{c.original}}" placeholder="{% trans %}Оригинальная аббревиатура{% endtrans %}">
						</td>
						<td data-name="abbr">
							<input type="text" name="abbr" value="{{c.abbr}}" placeholder="{% trans %}Русская аббревиатура{% endtrans %}">
						</td>
						<td data-name="own_name">
							<input type="text" name="translated" value="{{c.translated}}" placeholder="{% trans %}Перевод страны{% endtrans %}">
						</td>
						<td class="right aligned">
							<div class="ui icon top left pointing dropdown button">
								<i class="wrench icon"></i>
								<div class="menu">
									<a data-action='change' class='item act_btn' data-id='{{c.id}}'>
										<i class="fa-duotone fa-pen-to-square"></i> {%trans%}Изменить{%endtrans%}
									</a>
									<a data-action='reset' class='item act_btn' data-id='{{c.id}}'>
										<i class="fa-duotone fa-circle-xmark"></i> {%trans%}Очистить{%endtrans%}
									</a>
									<a data-action='delete' class='item act_btn' data-id='{{c.id}}'>
										<i class="fa-duotone fa-trash-can"></i> {%trans%}Удалить{%endtrans%}
									</a>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th colspan="6">
							<div class="ui massaction disabled dropdown">
								<span class="text">{% trans %}Выбор действия{% endtrans %}</span>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="header">
										<i class="wrench icon"></i>
										{% trans %}Действие{% endtrans %}
									</div>
									<div class="ui divider"></div>
									<div class="item act_btn" data-action='save_selected'>
										<i class="save outline icon"></i>
										{%trans%}Сохранить выбранное{%endtrans%}
									</div>
									<div class="item act_btn" data-action='delete_selected'>
										<i class="trash alternate outline icon"></i>
										{%trans%}Удалить выбранное{%endtrans%}
									</div>
									<div class="item act_btn" data-action='reset_selected'>
										<i class="history icon"></i>
										{%trans%}Сбросить выбранное{%endtrans%}
									</div>
								</div>
							</div>

							<a href="#" role="button" class="ui right floated button labeled icon act_btn" data-action='new'>
								<i class="plus square outline icon"></i>
								{%trans%}Добавить страну{%endtrans%}
							</a>

						</th>
					</tr>
				</tfoot>
			</table>


			{% endautoescape %}
		</div>


	</div>
</form>

{{ pagination(total_pages, page) }}

{% endblock %}

{% block scripts %}

	{{ include('modules/myshows/scripts/countries.twig') }}

{% endblock %}