{% extends 'base.html' %}
{% from "_macros/checkbox.twig" import checkbox %}
{% from "_macros/select.twig" import select %}
{% from "_macros/input.twig" import input %}

{% block content %}

<div class="ui segment">
	{{ include('templateIncludes/boxes.html', {
		boxes: {
			main: {
				link: '#',
				name: 'Основные настройки',
				icon: 'fad fa-cog'
			},
			fields: {
				link: '#',
				name: 'Настройки статуса',
				icon: 'fad fa-tag'
			},
			notifications: {
				link: '#',
				name: 'Настройки уведомлений',
				icon: 'fad fa-envelope-square'
			},
			other: {
				link: '#',
				name: 'Другие настройки',
				icon: 'fad fa-list'
			},
		}
	})
	}}
</div>

<form class="ui form segment">
	<div class="ui bottom attached tab active" data-tab="main">
		<h4 class="ui dividing header">{{ title }}</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

				{{ checkbox('onof', 'Включить модуль?', 'Включает/Выключает модуль', settings) }}
				{{ select('myshows', 'Доп. поле с ID MyShows', 'Укажите поле, где на данный момент хранится ID с сервиса MyShows. Если оно пустое, скрипт будет пытаться найти через поиск нужный ID и проставить его, но результат не гарантирован', settings, xfields) }}
				{{ select('field', 'Доп. поле со статусом', 'Укажите поле, где на данный момент выводится статус сериала.', settings, xfields) }}
				{{ checkbox('news', 'Выводить новинки?', 'Если включено, то будет показывать значение, что сериал новый. Но новый на MyShows.me', settings) }}
				{{ checkbox('pilots', 'Выводить значение "Пилотная серия"?', 'Если включено, то будет указывать на пилотную серию сезона', settings) }}


			{% endautoescape %}
		</div>
	</div>
	<div class="ui bottom attached tab" data-tab="fields">
		<h4 class="ui dividing header">Настройка статуса</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ input('returningseries', 'Значение, если сериал выходит', 'Он так-же может продолжать выходить, или же ушёл на сезонную паузу, к примеру: Снимается', settings) }}
			{{ input('newseries', 'Значение, если сериал новый', 'Будет выводить, если добавляется новый сериал в базу MyShows, к примеру: Новинка', settings) }}
			{{ input('pilotordered', 'Значение, если серия пилотная', 'Значение, если сезону дали шанс и первая серия должны быть показательной. К Примеру: Пилотная серия', settings) }}
			{{ input('canceledended', 'Значение, если сериал был закрыт или закончился', 'Выводит значение, если сериал официально закончился или был закрыт из-за низких рейтингов. К примеру: Закрыт', settings) }}
			{{ input('onhiatus', 'Значение, если сериал был отправлен на перерыв', 'Если сериал отправляют в отпуск на длительный срок - выводится это значение. К примеру: Приостановлен', settings) }}
			{{ input('tbdonthebubble', 'Значение, если судьба сериала неизвестна', 'Если сериал находится под вопросом продолжения - ставится это значение. К примеру: Под вопросом', settings) }}
			{{ input('none', 'Значение, если статус сериала неизвестен', 'Если для сериала в исходнике нет данных, то выводится это поле. К примеру: Не определено', settings) }}


			{% endautoescape %}
		</div>
	</div>
	<div class="ui bottom attached tab" data-tab="notifications">
		<h4 class="ui dividing header">Настройки уведомлений</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ checkbox('post', 'Отправлять уведомления?', 'Если нет, то настройки ниже бесполезны', settings) }}
			{{ checkbox('autor', 'Уведомлять автора?', 'Если да, то при смене или обновлении статуса сериала скриптом автор новости будет уведомлён', settings) }}
			{{ checkbox('admin', 'Уведомлять админа?', 'Если да, то при смене или обновлении статуса сериала скриптом администратор будет уведомлён', settings) }}
			{{ select('adminid', 'Администратор', 'Укажите ник админа, который будет получать уведомления, однако, если автор и админ одно лицо, то сообщение отправится один раз. Админ - название условное.', settings, users) }}
			{{ select('sender', 'Отправитель', 'Укажите ник отправителя, который будет отправлять письма. Если пусто, то будет использоваться имя администратора сайта.', settings, users) }}

			{% endautoescape %}
		</div>
	</div>
	<div class="ui bottom attached tab" data-tab="other">
		<h4 class="ui dividing header">Прочие настройки</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ checkbox('newsup', 'Поднимать новость?', 'Если статус сериала обновится - поднимит новость и она будет в самом начале', settings) }}
			{{ select('ended', 'Дата последней серии', 'Укажите название доп. поля, куда будет выводится дата. Если поле будет заполнено, то скрипт будет выполнен, если нет - то скрипт пропустит', settings, xfields) }}
			{{ select('kpid', 'ID с Кинопоиска', 'Укажите название доп. поля, куда будет выводится ID с Кинопоиска. Если поле будет заполнено, то скрипт будет выполнен, если нет - то скрипт пропустит', settings, xfields) }}
			{{ select('tvrage', 'ID с TVRage', 'Укажите название доп. поля, куда будет выводится ID с TVRage. Если поле будет заполнено, то скрипт будет выполнен, если нет - то скрипт пропустит', settings, xfields) }}
			{{ select('imdb', 'ID с IMDB', 'Укажите название доп. поля, куда будет выводится ID с IMDB. Если поле будет заполнено, то скрипт будет выполнен, если нет - то скрипт пропустит', settings, xfields) }}

			{% endautoescape %}
		</div>
	</div>
</form>
<div class="ui segment">
	<div class="ui button save" tabindex="0">Сохранить</div>
</div>
{% endblock %}


{% block scripts %}

{% autoescape 'js' %}
<script>
    $(() => {
        $(document).on('click', '.save', function () {
            startLoading();
            $.ajax({
                url: 'engine/ajax/controller.php?mod=maharder',
                data: {
                    user_hash: '{{dle_login_hash}}',
                    module: '{{module_code}}',
                    file: 'master',
                    method: 'settings',
                    data: $('.form').serializeArray()
                },
                type: 'POST',
                success: function (data) {
                    hideLoading('');
                    $('body').toast({
                        class: 'success',
                        title: `Всё отлично!`,
                        message: `Данные были сохранены!`,
                        showProgress: 'bottom'
                    });

                }
            });
        });
    });
</script>
{% endautoescape %}
{% endblock %}
