{% extends 'base.html' %}
{% from "_macros/input.twig" import input %}
{% from "_macros/textarea.twig" import editor, text %}

{% block content %}

<form class="ui form segment">
	<div class="ui bottom attached tab active" data-tab="main">
		<h4 class="ui dividing header">{{title}}</h4>

		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ input('post_theme', 'Заголовок сообщения', 'Укажите заголовок для сообщений', template_data) }}
			{{ editor('template', 'Шаблон сообщения', 'Настройте свой шаблон для отправки сообщений. Разрешается
			использовать BB-код и HTML-код.
			<p>Для полноценного использования шаблона - доступны следующие теги:</p>
			<ul>
				<li><b>[admin] [/admin]</b> - Всё заключённое в эти теги будет отправлено лишь администратору</li>
				<li><b>[autor] [/autor]</b> - Всё заключённое в эти теги будет отправлено лишь автору темы</li>
				<li><b>[status=] [/status]</b> - Если статус будет ровняться одному из 7, то будет выводить определенный
					текст.
				</li>
				<li><b>[not-status=] [/not-status]</b> - Противоположный тегу [status=]</li>
				<li><b>{news_title}</b> - Название новости</li>
				<li><b>{news_id}</b> - ID новости</li>
				<li><b>{news_link}</b> - Ссылка на новость</li>
				<li><b>{admin_link}</b> - Ссылка на новость в админпанеле</li>
				<li><b>{status}</b> - Выводит статус сериала</li>
				<li><b>{username}</b> - Выводит имя пользователя, которому отправляется сообщение. Админ и / или автор
					новости
				</li>
			</ul>
			', template_data) }}

			{% endautoescape %}
		</div>
	</div>
</form>
{% endblock %}

{% block scripts %}

{% autoescape 'js' %}
<script>
	var blocks = [
		{name: 'admin', tag: '[admin][/admin]'},
		{name: 'autor', tag: '[autor][/autor]'},
		{name: 'status', tag: '[status=][/status]'},
		{name: 'not-status', tag: '[not-status=][/not-status]'},
	], tags    = [
		{name: 'news_title', tag: '{news_title}'},
		{name: 'news_id', tag: '{news_id}'},
		{name: 'news_link', tag: '{news_link}'},
		{name: 'admin_link', tag: '{admin_link}'},
		{name: 'status', tag: '{status}'},
		{name: 'username', tag: '{username}'},
	];

</script>

{% endautoescape %}
{% endblock %}