<div class="two column row">
	<div class="eight wide column rowDescr">
		<label for="{{id}}">{{name}}</label><br>
		<small>{{descr|raw}}</small>
	</div>
	<div class="eight wide column">
		{% if type == 'input' or type == 'tag_input' %}
		{{ include('templateIncludes/addInput.html', {
		type: 'text',
		name: id,
		label: name,
		value: variable[id],
		chosen: extra['chosen']
		})}}
		{% elseif type == 'number_input' or type == 'number' %}
		{{ include('templateIncludes/addInput.html', { type: 'number', name: id, label: name, value: variable[id],
		chosen:
		false})}}
		{% elseif type == 'hidden_input'%}
		{{ include('templateIncludes/addInput.html', { type: 'hidden', name: id, label: name, value: variable[id],
		chosen:
		false})}}
		{% elseif type == 'input_file'%}
		{{ include('templateIncludes/addInput.html', { type: 'file', name: id, label: name, value: variable[id], chosen:
		false})}}
		{% elseif type == 'select'%}
		{{ include('templateIncludes/addSelect.html', { name: id, label: name, values: values, multiple: multiple,
		selected: selected})}}
		{% elseif type == 'textarea'%}
		{{ include('templateIncludes/addTextarea.html', { name: id, label: name, value: variable[id]|raw, editor:
		false})}}
		{% elseif type == 'editor'%}
		{{ include('templateIncludes/addTextarea.html', { name: id, label: name, value: variable[id]|raw, editor:
		true})}}
		{% elseif type == 'checkbox'%}
		{{ include('templateIncludes/addCheckbox.html', { name: id, label: name, selected: variable[id]})}}
		{% else %}
		{{ html|raw }}
		{%endif%}
	</div>
</div>
