<!DOCTYPE html>

<html>

<head>
	{% block title %}<title>{{ title|trans }} » {{ module_name|trans }}</title>{% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{% block styles %}{% endblock %}
	{% autoescape 'html' %}
		{% for style in css %}
			{{ style|raw }}
		{% endfor %}
		{% endautoescape %}
	</head>

	<body>
		<div id="top"></div>
		{% if is_mobile() or is_tablet() %}
			{% include 'sidebar.html' %}
		{% endif %}
		<div class="ui main container">
			<h1 class="ui header">
				<i class="{{module_icon}}" style="float: left;margin-right: 2rem;"></i>
				<div class="content" style="padding: 0">
					{{ module_name|trans }}
					<div class="ui label update_checker" style="cursor:pointer;" data-id="{{module_id}}" data-version="{{module_version}}" data-position="bottom center" data-tooltip="{% trans %}Проверить на наличие новой версии{% endtrans %}">
						v{{ module_version }}
						<i class="sync alternate icon"></i>
					</div>
				</div>
			</h1>
			<p style="margin-top: -18px;color: #afafaf;">{{ module_description|trans }}</p>
		</div>

		{% include 'menu.html' %}

		<div class="ui container dimmed pusher" id="content">
			<div class="ui segment">
				{% include 'breadcrumb.html' %}
			</div>
			{% block filter %}{% endblock %}
			<div class="ui piled segments">
				{% block content %}{% endblock %}
			</div>

			{{ include('templateIncludes/loader.html', {text: '{%trans%}Подождите, идёт загрузка...{%endtrans%}'})}}
		</div>
		{% include 'footer.html' %}
		{% autoescape 'html' %}
			<script>
				const is_mobile = {% if is_mobile() or is_tablet() %}true{% else %}false{% endif %};
				const dle_login_hash = '{{dle_login_hash}}';
				const module_code = '{{module_code}}';
				const lang_code = '{{selected_lang}}';
				const lang_iso = '{{lang_data.iso2}}';
				const cache_id = '{{dle_config.cache_id}}';
			</script>
			<script src="{{assets_url}}/js/i18n/translator.js"></script>
			{% for script in js %}
				{{ script|raw }}
			{% endfor %}
		{% endautoescape %}
		{% block scripts %}{% endblock %}
	</body>

	</html>
	