<footer class="ui inverted vertical footer segment">
	<div class="ui center aligned container">
		<div class="ui stackable inverted divided grid">
			<div class="five wide column">
				<h4 class="ui inverted header">{% trans %}Модуль{% endtrans %}</h4>
				<div class="ui inverted link list">
					{% for l in links %}
						{% if( l.href != '#' or l.href != '') and l.type == 'link' %}<a href="{{l.href}}" class="item">{{l.name|trans}}</a>{% endif %}
					{% endfor %}
					{% block modullinks %} {% endblock %}
				</div>
			</div>
			<div class="five wide column">
				<h4 class="ui inverted header">{% trans %}Доп. ссылки{% endtrans %}</h4>
				<div class="ui inverted link list">
					<a href="{{site_link}}" target="_blank" class="item">{% trans %}На сайте автора{% endtrans %}</a>
					<a href="{{docs_link}}" target="_blank" class="item">{% trans %}Документация{% endtrans %}</a>
					<a href="{{lic_link}}" target="_blank" class="item">{% trans %}Пользовательское соглашение{% endtrans %}</a>
					<a href="https://crowdin.com/project/{{crowdin_name}}" target="_blank" class="item">{% trans %}Перевод:{% endtrans %} <img src="https://badges.crowdin.net/{{crowdin_name}}/localized.svg"></a>
					{% block extralinks %}{% endblock %}
				</div>
			</div>
			<div class="six wide column">
				<h4 class="ui inverted header">{% trans %}Об авторе{% endtrans %}</h4>
				<div class="ui inverted list">
					<div class="item">
						<div class="header">{{ author.name }}</div>
						<div class="ui horizontal inverted divided list">
							{% for c in author.contacts %}
							<div class="item">
								<div class="content">
									<a href="{{c.link}}" target="_blank" title="{{c.name|trans}}">{{c.name|trans}}</a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="item">
						<div class="header">{% trans %}Финансовая поддержка (добровольная){% endtrans %}</div>
						<div class="ui horizontal inverted divided list">
							{% for d in author.donate %}
							<div class="item">
								<div class="content">
									{% if d.link != '' %}
										<a href="{{d.link}}" rel='' target="_blank"	title="{{d.name|trans}}">
									{% else %}
											<span title="{{d.name|trans}}">
									{% endif %}
										{{d.value}}
									{% if d.link != '' %}</a>{% else %}</span>{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
