<footer class="ui inverted vertical footer segment">
	<div class="ui center aligned container">
		<div class="ui stackable inverted divided grid">
			<div class="five wide column">
				<h4 class="ui inverted header">{% trans %}Модуль{% endtrans %}</h4>
				<div class="ui inverted link list">
					{% for l in links %}
						{% if( l.getLink != '#' or l.getLink != '') and l.getType == 'link' %}<a href="{{l.getLink}}" class="item">{{l.getName}}</a>{% endif %}
					{% endfor %}
					{% block modullinks %} {% endblock %}
				</div>
			</div>
			<div class="five wide column">
				<h4 class="ui inverted header">{% trans %}Доп. ссылки{% endtrans %}</h4>
				<div class="ui inverted link list">
					<a href="{{site_link}}" target="_blank" class="item">{% trans %}На сайте автора{% endtrans %}</a>
					<a href="{{docs_link}}" target="_blank" class="item">{% trans %}Документация{% endtrans %}</a>
					<a href="{{lic_link}}" target="_blank" class="item">{% trans %}Пользовательское соглашение{% endtrans %}</a>
					<a href="https://crowdin.com/project/{{crowdin_name}}" target="_blank" class="item" title="{% trans %}Перевод{% endtrans %}" data-title="{% trans %}Перевод{% endtrans %}">
						<img alt="{% trans %}Перевод{% endtrans %}" src="https://img.shields.io/badge/dynamic/json?color=blue&label={{lang_data.iso2|upper}}&style=flat&logo=crowdin&query=%24.progress.0.data.translationProgress&url=https%3A%2F%2Fbadges.awesome-crowdin.com%2Fstats-{{crowdin_stat_id}}.json" />
					</a>
					{% block extralinks %}{% endblock %}
				</div>
			</div>
			<div class="six wide column">
				<h4 class="ui inverted header">{% trans %}Об авторе{% endtrans %}</h4>
				<div class="ui inverted list">
					<div class="item">
						<div class="header">{{ author.getName }}</div>
						<div class="ui horizontal inverted divided list">
							{% for c in author.getContacts %}
							<div class="item">
								<div class="content">
									<a href="{{c.link}}" target="_blank" title="{{c.name}}">{{c.name}}</a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="item">
						<div class="header">{% trans %}Финансовая поддержка (добровольная){% endtrans %}</div>
						<div class="ui horizontal inverted divided list">
							{% for d in author.getDonations %}
							<div class="item">
								<div class="content">
									{% if d.link != '' %}
										<a href="{{d.link}}" rel='' target="_blank"	title="{{d.name}}">
									{% else %}
											<span title="{{d.name}}">
									{% endif %}
										{{d.value}}
									{% if d.link != '' %}</a>{% else %}</span>{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
