{% extends 'base.html' %} {% block content %}

<form class="ui form segment">
	<div class="ui bottom attached tab active" data-tab="main">
		<h4 class="ui dividing header">{% 'Настройки'|trans %}</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}



			{% endautoescape %}
		</div>
	</div>
</form>
<div class="ui segment">
	<div class="ui button save" tabindex="0">{% 'Сохранить'|trans %}</div>
</div>
{% endblock %}


{% block scripts %}

{% autoescape 'js' %}
<script>
	$(() => {
		$(document).on('click', '.save', function () {
			startLoading();
			$.ajax({
				url: 'engine/ajax/controller.php?mod=maharder',
				data: {
					user_hash: '{{dle_login_hash}}',
					module: '{{module_code}}',
					file: 'master',
					method: 'settings',
					data: $('.form').serializeArray()
				},
				type: 'POST',
				success: function (data) {
					hideLoading('');
					$('body').toast({
						class: 'success',
						title: `{% 'Всё отлично!'|trans %}`,
						message: `{% 'Данные были сохранены!'|trans %}`,
						showProgress: 'bottom'
					});

				}
			});
		});
	});
</script>
{% endautoescape %}
{% endblock %}
