{% if _get.sites is null %}
	{% set site = 'index' %}
{% else %}
	{% set site = _get.sites %}
{% endif %}
{% from "_macros/menu.twig" import item as items %}


<div class="ui borderless main menu top_menu">

	<div class="ui container">

		<div class="header item firstLine">
			<i class="{{module_icon}}"></i>&nbsp;&nbsp;
			{{ module_name|trans }}
		</div>

		{{ items(links, site, 'yes', 'no', 'firstLine') }}
	</div>
</div>

<div class="ui borderless sidemenu menu " style="display: none">
	<div class="ui container">
		<div class="header item">
			<i class="icon {{module_icon}}"></i>&nbsp;&nbsp;
			{{ module_name|trans }}
		</div>
		<div class="item menuToggler link"><i class="fa fa-bars"></i>&nbsp;{% trans %}Открыть меню{% endtrans %}</div>
	</div>
</div>
