{% extends 'base.html' %}

{% block content %}
<div class="ui segment">
	<div class="ui accordion">
		{% for name, log in logs %}
		<div class="{% if loop.first %}active {% endif %}title">
			<i class="dropdown icon"></i>
			{{name|trans|raw}}
		</div>
		<div class="{% if loop.first %}active {% endif %}content">
			<div class="ui divided list">
				{% for l in log %}
				<div class="item">
					{% autoescape 'html' %}
						{{l|trans|raw}}
					{% endautoescape %}
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>

</div>
{% endblock %}
