<!DOCTYPE html>

<html>
	<head>
		{% block title %}<title>{{ title }}</title>{% endblock %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% autoescape 'html' %}
			{% for style in css %}
				{{ style|raw }}
			{% endfor %}
		{% endautoescape %}
	</head>
	<body>

		{% include 'sidebar.html' %}

		<div class="ui main container">
			<h1 class="ui header">{{ module_name }} v{{ module_version }}</h1>
			<p>{{ module_description }}</p>
		</div>

		{% include 'menu.html' %}

		<div class="ui container dimmed pusher">
			<div class="ui segment">
				{% include 'breadcrumb.html' %}
			</div>
			<div class="ui piled segments">
				{% block content %}{% endblock %}
			</div>
		</div>
		{% include 'footer.html' %}
		{% autoescape 'html' %}
			{% for script in js %}
				{{ script|raw }}
			{% endfor %}
		{% endautoescape %}
	</body>
</html>
