body,
.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.input.focus>input,
.ui.input>input,
.ui.input>input:focus,
.ui.table>thead>tr>th,
.ui.search.dropdown.active>input.search,
.ui.search.dropdown.visible>input.search,
.ui.selection.dropdown,
.ui.piled.segment:after,
.ui.piled.segment:before,
.ui.piled.segments:after,
.ui.piled.segments:before,
.jconfirm.jconfirm-material .jconfirm-box,
.main.menu.fixed {
    color: #fff;
    background: #222222;
}
.ui.dropdown .menu {
    background: #565656;
    color: white;
}
.ui.dropdown .menu>.item,
.ui.dropdown .menu>.item:hover {
    color: rgb(255 255 255 / 87%);
}
.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover {
    background-color: #0f0f0f;
    color: rgba(255,255,255,.95);
}
.ui.menu.inverted {
    background-color: #00bc8c!important;
}
.ui.menu.inverted .active.item,
.ui.menu.inverted .item:focus,
.ui.menu.inverted .item:hover,
.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
    color: rgba(255,255,255,.95) !important;
    background: rgb(0 0 0 / 30%);
}
.ui.tabular.menu .item:hover {
    background-color: transparent;
    color: rgb(255 255 255 / 58%);
}
.ui.secondary.pointing.menu .active.item {
    border-color: #2f4d6d !important;
}
.ui.input>input {
    background: #fff;
    border: 1px solid #464545;
}
.ui.button {
    background: #464545 none;
    color: #fff;
}
.ui.menu,
.ui.secondary.menu .active.item,
.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover,
.ui.card,
.ui.cards>.card {
    background: #303030;
    color: #fff;
}
.ui.transparent.input .icon {
    color: #ebebeb;
}
.ui.primary.button {
    -webkit-box-shadow: 0 0 0 0 #464545 inset;
    box-shadow: 0 0 0 0 #464545 inset;
}
.ui.primary.button,
.ui.primary.buttons .button {
    background-color: #375a7f;
    color: #fff;
}
.ui.secondary.button {
    -webkit-box-shadow: 0 0 0 0 #464545 inset;
    box-shadow: 0 0 0 0 #464545 inset;
}
.ui.secondary.button,
.ui.secondary.buttons .button {
    background-color: #000;
    color: #fff;
}
.ui.basic.button,
.ui.basic.buttons .button {
    background: transparent none;
    color: #fff;
    -webkit-box-shadow: 0 0 0 1px #464545 inset;
    box-shadow: 0 0 0 1px #464545 inset;
}
.ui.basic.button:hover,
.ui.basic.buttons .button:hover {
    background: #464545 none;
    color: #fff;
}
.ui.button:hover {
    background-color: #cacbcd;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: rgba(0,0,0,.8);
}
.ui.primary.button:hover,
.ui.primary.buttons .button:hover {
    background-color: #2c4d70;
    color: #fff;
    text-shadow: none;
}
.ui.secondary.button:hover,
.ui.secondary.buttons .button:hover {
    background-color: #0d0d0d;
    color: #fff;
    text-shadow: none;
}
.ui.button:disabled,
.ui.buttons .disabled.button:not(.basic),
.ui.disabled.active.button,
.ui.disabled.button,
.ui.disabled.button:hover {
    opacity: .45!important;
}
.ui.attached.segment {
    border: 1px solid #3d3d3d;
}
.ui.segment {
    background: #303030;
    -webkit-box-shadow: 0 1px 2px 0 #3d3d3d;
    box-shadow: 0 1px 2px 0 #3d3d3d;
    border: 1px solid #3d3d3d !important;
}
.ui.yellow.button, .ui.yellow.buttons .button {
    background-color: #f39c12;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.orange.button, .ui.orange.buttons .button {
    background-color: #fd7e14;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.green.button, .ui.green.buttons .button {
    background-color: #00bc8c;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.teal.button, .ui.teal.buttons .button {
    background-color: #20c997;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.blue.button, .ui.blue.buttons .button {
    background-color: #375a7f;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.purple.button, .ui.purple.buttons .button {
    background-color: #6f42c1;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.pink.button, .ui.pink.buttons .button {
    background-color: #e83e8c;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.red.button, .ui.red.buttons .button {
    background-color: #e74c3c;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.black.button, .ui.black.buttons .button {
    background-color: #000;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #000;
    color: rgba(255,255,255,.9);
}
.ui.inverted.button {
    -webkit-box-shadow: 0 0 0 2px #fff inset;
    box-shadow: 0 0 0 2px #fff inset;
    background: transparent none;
    color: #fff;
    text-shadow: none!important;
}
.ui.basic.inverted.button, .ui.basic.inverted.buttons .button {
    background-color: transparent;
    color: #f9fafb;
    -webkit-box-shadow: 0 0 0 2px rgb(255 255 255 / 50%) inset;
    box-shadow: 0 0 0 2px rgb(255 255 255 / 50%) inset;
}
.ui.inverted.blue.button, .ui.inverted.blue.buttons .button {
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 2px #54c8ff inset;
    box-shadow: 0 0 0 2px #54c8ff inset;
    color: #54c8ff;
}
.ui.inverted.blue.basic.button, .ui.inverted.blue.basic.buttons .button, .ui.inverted.blue.buttons .basic.button {
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 2px rgb(255 255 255 / 50%) inset;
    box-shadow: 0 0 0 2px rgb(255 255 255 / 50%) inset;
    color: #fff;
}
.ui.table {
    background: #303030;
    border: 1px solid #464545;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
}
.ui.table>thead>tr>th {
    border-bottom: 1px solid #393838;
}
.ui.ui.table td.positive, .ui.ui.ui.ui.table tr.positive {
    -webkit-box-shadow: 0 0 0 #fff inset;
    box-shadow: 0 0 0 #fff inset;
    background: #00bc8c;
    color: #fff;
}
.ui.ui.table td.negative, .ui.ui.ui.ui.table tr.negative {
    -webkit-box-shadow: 0 0 0 #e6e6e6 inset;
    box-shadow: 0 0 0 #e6e6e6 inset;
    background: #e74c3c;
    color: #e6e6e6;
}
.ui.ui.table td.warning, .ui.ui.ui.ui.table tr.warning {
    -webkit-box-shadow: 0 0 0 #fff inset;
    box-shadow: 0 0 0 #fff inset;
    background: #f39c12;
    color: #fff;
}
.ui.basic.table {
    background: 0 0;
    border: 1px solid #464545;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui.striped.table>tbody>tr:nth-child(2n),
.ui.striped.table>tr:nth-child(2n) {
    background-color: #3d3d3d;
}
.ui.table tbody tr td.selectable:hover,
.ui.ui.selectable.table>tbody>tr:hover {
    background: rgba(0,0,0,.05);
    color: rgb(255 255 255 / 71%);
}
.ui.definition.table tr td.definition,
.ui.definition.table>tbody>tr>td:first-child:not(.ignored),
.ui.definition.table>tfoot>tr>td:first-child:not(.ignored),
.ui.definition.table>tr>td:first-child:not(.ignored) {
    color: rgb(255 255 255 / 71%);
}
.ui.inverted.blue.table {
    background-color: #375a7f;
    color: #fff;
}
.ui.input.error>input {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #e6e6e6;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui.card>.content>.header,
.ui.cards>.card>.content>.header,
.ui.card>.content>a.header,
.ui.cards>.card>.content>a.header {
    color: rgb(255 255 255 / 85%);
}
.ui.card>.content a:not(.ui),
.ui.cards>.card>.content a:not(.ui) {
    color: rgb(255 255 255 / 40%);
}
.ui.card>.extra a:not(.ui),
.ui.cards>.card>.extra a:not(.ui) {
    color: rgb(255 255 255 / 40%);
}
.ui.card>.extra a:not(.ui):hover,
.ui.cards>.card>.extra a:not(.ui):hover {
    color: #ffffff;
}
.ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:not(.icon):hover,
a.ui.card:hover {
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #999;
    box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #999;
}
.ui.cards a.card:hover .header,
.ui.link.card:hover .header,
.ui.link.cards .card:not(.icon):hover .header,
a.ui.card:hover .header {
    color: rgb(0 0 0 / 85%);
}
.ui.dividing.header {
    border-bottom: 1px solid #464545;
}
.ui.header,
.ui.menu .item,
.ui.menu .ui.dropdown .menu>.item,
.ui.menu .ui.dropdown .menu>.item:hover,
.ui.dropdown .menu .selected.item,
.ui.dropdown.selected,
.jconfirm.jconfirm-material .jconfirm-box div.jconfirm-title-c {
    color: #fff !important;
}
.ui.menu .active.item {
    background : rgb(255 255 255 / 5%);
    color      : rgb(255 255 255 / 95%);
}
.ui.menu .dropdown.item .menu {
    background: #303030;
    color: white;
    border: 0.2rem solid #3b3b3b;
    box-shadow: 0px 0px 7px 0px hsl(0deg 0% 100% / 7%);
}
.ui.grid > .row:hover {
    background: rgb(255 255 255 / 10%);
}
.ui.breadcrumb .divider,
.divider {
    color: rgb(255 255 255 / 40%);
}
.ui.breadcrumb a,
a {
    color: #ffffff;
    border-bottom: 1px solid #4183c4;
}
.ui.selection.visible.dropdown>.text:not(.default),
.jconfirm.jconfirm-material .jconfirm-box div.jconfirm-closeIcon,
.ui.form .field>label {
    color: rgb(255 255 255 / 80%);
}
.ui.selection.dropdown {
    border: 0.1rem solid rgb(255 255 255 / 80%);
}
.ui.selection.dropdown:hover,
.ui.selection.dropdown:focus {
    border: 0.1rem solid rgb(255 255 255 / 95%);
}
.ui.inverted.link.list .item,
.ui.inverted.link.list .item a:not(.ui),
.ui.inverted.link.list a.item,
.ui.menu .item{
    border-bottom: 0;
}
.divider {
    border-top : 1px solid rgb(255 255 255 / 10%) !important;
}
.ui.menu .ui.dropdown .menu>.item:hover {
    background: rgb(0 0 0 / 20%) !important;
}
.main.menu.fixed {
    border: 0;
    border-bottom: 0.1rem solid rgb(255 255 255 / 6%);
}
.ui.piled.segment:after,
.ui.piled.segment:before,
.ui.piled.segments:after,
.ui.piled.segments:before {
    border: 1px solid rgb(255 255 255 / 40%);
}
.ui.segments>.segment,
.ui.segments {
    border: 1px solid rgb(255 255 255 / 50%);
}