{% extends 'base.html' %} {% block content %}

<div class="ui segment">
	{{ include('templateIncludes/boxes.html', {
			boxes: {
				main: {
					link: '#',
					name: 'Настройки',
					icon: 'fad fa-cog'
				},
				templates: {
					link: '#',
					name: 'Шаблоны уведомлений',
					icon: 'fad fa-list'
				},
			}
		})
	}}
</div>
<form class="ui form segment">
	<div class="ui bottom attached tab active" data-tab="main">
		<h4 class="ui dividing header">Настройки</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ include('templateIncludes/segRow.html', {
					id: 'turnon',
					name: 'Включить модуль?',
					descr: 'Включает/Выключает модуль',
					type: 'checkbox',
					settings: settings
				})
			}}

			{{ include('templateIncludes/segRow.html', {
					id: 'subscriptions_news',
					name: 'Включить подписки на новости?',
					descr: 'Включает подписки на новости по умолчанию',
					type: 'checkbox',
					settings: settings
				})
			}}

			{{ include('templateIncludes/segRow.html', {
					id: 'subscriptions_cats',
					name: 'Включить подписки на категории?',
					descr: 'Включает подписки на категории по умолчанию',
					type: 'checkbox',
					settings: settings
				})
			}}

			{{ include('templateIncludes/segRow.html', {
					id: 'subscriptions_users',
					name: 'Включить подписки на категории?',
					descr: 'Включает подписки на категории по умолчанию',
					type: 'checkbox',
					settings: settings
				})
			}}

			{{ include('templateIncludes/segRow.html', {
					id: 'allow_mentions',
					name: 'Включить упоминания?',
					descr: 'Включает при упоминании пользователя оповещение в его уведомлениях',
					type: 'checkbox',
					settings: settings
				})
			}}

			{{ include('templateIncludes/segRow.html', {
					id: 'reform_mention_links',
					name: 'Обрабатывать упоминания?',
					descr: 'Из @имя создаёт ссылку на профиль пользователя',
					type: 'checkbox',
					settings: settings
				})
			}}

			{{ include('templateIncludes/segRow.html', {
					id: 'user_settings',
					name: 'Настройки пользователя',
					descr: 'Откуда брать пользовательские настройки? Создайте поле с <b>несколькими строками</b> и доступным пользователю на редактирование.',
					type: 'select',
					settings: settings,
					values: user_xfields
				})
			}}


			{% endautoescape %}
		</div>
	</div>
	<div class="ui bottom attached tab" data-tab="templates">
		<h4 class="ui dividing header">Шаблоны уведомлений</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ include('templateIncludes/segRow.html', {
					id: 'news_update',
					name: 'Обновление новости',
					descr: 'Текст при обновлении новости',
					type: 'textarea',
					settings: settings
				})
			}}
			 
			{{ include('templateIncludes/segRow.html', {
					id: 'news_update',
					name: 'Обновление новости',
					descr: 'Текст при обновлении новости',
					type: 'textarea',
					settings: settings
				})
			}}


			{% endautoescape %}
		</div>
	</div>

</form>
<div class="ui segment">
	<div class="ui button save" tabindex="0">Сохранить</div>
</div>
{% endblock %}



{% block scripts %}

{% autoescape 'js' %}
<script>

	$(() => {

		$(document).on('click', '.save', function () {
			startLoading();

			$.ajax({
				url: 'engine/ajax/controller.php?mod=maharder',
				data: {
					user_hash: '{{dle_login_hash}}',
					module: '{{module_code}}',
					file: 'master',
					method: 'save_settings',
					data: $('.form').serializeArray()
				},
				type: 'POST',
				success: function (data) {
					console.log(data)
					hideLoading('');
					$('body').toast({
						class: 'success',
						title: 'Всё отлично!',
						message: 'Данные были сохранены!',
						showProgress: 'bottom'
					});

				}
			});
		});

	});
</script>
{% endautoescape %}
{% endblock %}


