{% extends 'base.html' %} {% block content %}
<form class="ui form segment">
	<div class="ui bottom attached tab active" data-tab="main">
		<h4 class="ui dividing header">Права доступа</h4>

		<table class="ui celled table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Название группы</th>
					<th>Кол-во пользователей</th>
					<th>Ссылка</th>
				</tr>
			</thead>
			<tbody>
				{% for uid,group in user_groups %}
					<tr>
						<td data-label="groupID">{{group.id}}</td>
						<td data-label="groupName">{{group.group_name}}</td>
						<td data-label="groupUsers">{{group.users}}</td>
						<td data-label="groupLink">
							<a href="{{group.link}}" target="_blank" role="button" class="ui mini blue basic button">Перейти</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<h4 class="ui dividing header">Список настроек</h4>
		<div class="ui relaxed divided list">
			{% for p in permissions_list %}
				<div class="item">
					<i class="large cogs middle aligned icon"></i>
					<div class="content">
						<a class="header">{{ p.title }}</a>
						<div class="description">{{ p.description }}</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

</form>
{% endblock %}